<!-- TODO: added static header -->
<!-- <div id="stack-items"> -->
<p><a href="../login" class="logotype">IceCream Labs</a></p>

  <img src="https://i.postimg.cc/C1jzMt8R/truck.png" alt="IceCream Labs Truck" id="truck">
<!-- </div> -->
<div id="white"> </div>