<!-- TODO: added static header -->
<% if(user) { %>
  <label>Hello, <%= user.name %></label>
  <form method="POST" action="/logout">
    <button type="submit">LOGOUT</button>
  </form>
<% } else { %>
  <a href="../login"><label>Login</label></a>
  <a href="../register"><label>Register</label></a>
<% } %>
