<!DOCTYPE html>
<html lang="en">

<head>
  <title>Login</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body class="branded">
  <nav>
    <p>IceCream Labs</p>
    <img src="https://i.postimg.cc/C1jzMt8R/truck.png" alt="IceCream Labs Truck" id="truck">
    <div id="white"> </div>
  </nav>  
  <h1  class="index">Login</h1>
  <%- include('partials/_error') %>
  <form method="POST" action="/login">
    <label for="email_address">Email: </label>
    <input name="email_address" type="text">
    <label for="password">Password: </label>
    <input name="password" type="password">
    <button type="submit">Submit</button>
  </form>
  <a href="register" class="link-small">Don’t have a account? Register here</a>
</body>

</html>
