<!DOCTYPE html>
<html lang="en">

<head>
  <title>My Cart</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body class="cart branded">
	<nav>
    <%- include('partials/_header-login') %>
  </nav>
  <h1>Order Submitted!</h1>
  <img src="https://i.postimg.cc/d1MpXwrk/dddd.gif" alt="waiting" id="waiting-gif">
  <h3>Updates coming soon by SMS</h3>
</body>
</html>
